name: Pipeline CI/CD DevOps

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  ci:
    uses: FabioBartoli/linuxtips-cicd-reusable/.github/workflows/pipeline-ci.yml@main
    with:
      working-directory: app
      aws-region: us-east-1
    secrets:
      AWS_ROLE_TO_ASSUME: ${{ secrets.AWS_ROLE_TO_ASSUME }}
      COSIGN_KEY: ${{ secrets.COSIGN_KEY }}
      COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}
  cd:
    needs: ci
    uses: FabioBartoli/linuxtips-cicd-reusable/.github/workflows/pipeline-cd.yml@main
    with:
      working-directory: app
      aws-region: us-east-1
      deploy-type: ${{ vars.TYPE }}
    secrets:
      AWS_ROLE_TO_ASSUME: ${{ secrets.AWS_ROLE_TO_ASSUME }}
      COSIGN_KEY_PUB: ${{ secrets.COSIGN_KEY_PUB }}
      COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}